{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h2 class="display-4">About Us</h2>
    <p class="lead">We are 4 Computer Science students in the Software Development Class at Harvey Mudd College and created this web app as our project for the class.</p>
    <hr class="my-4">
    <p class="lead">Perhaps the most tedious part of using LaTeX for homework assignments is representing matrices. Our web app does the work for the user by allowing users to convert images of handwritten matrices to LaTeX code that can be copied and pasted into their own LaTeX editors. This is achieved through the use of the YOLOv5 object recognition model to classify and locate the matrix elements and a simple algorithm taking advantage of a matrix’s grid-like structure to generate the LaTeX code. </p>
</div>
{% endblock %}
