{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} {% endblock %}</h1>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to MaTreX!</h1>
    <p class="lead">Convert your image of a handwritten matrix to LaTeX without writing a single ampersand!
      Currently, our app is compatible with .png or .jpg upload file types. For accurate results, your image should be well lit and black/dark
      writing on a white background.</p>
    <hr class="my-4">
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" name="file">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      <p></p>
      <p><button class="btn btn-secondary" type="submit" value="Submit">Submit Image</button></p>
    </form>
  </div>
{% endblock %}
