<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('output', filename=file) }}" style="width: 128px">
    {% endfor %}
  </body>
  <h2>Image Uploaded:</h2>
  <body>
    <img src="{{ matrix_image }}" alt="{{image_filename}}">
  </body>
  <p>File Name:</p>
  <pre>
    {{ image_filename }}
  </pre>

  <h2>LaTeX Code for your Matrix:</h2>
  <textarea id="latexcode" rows="10" cols="25" readonly>{{ latex }}</textarea>

  <h2>Rendered LaTeX:</h2>
  <body>
    <img src="{{ latex_image }}">
  </body>
</html>
